# 7장 함수

## 7.1 함수 정의와 호출

## 함수의 기본구조
def 함수명([인자1,인자2,...인자n]) : <br>
        
        <코드블럭>
        [return <반환 값>]

## 인자도 반환 값도 없는 함수

In [1]:
def my_func(): #함수선언
    print("My first fucntion")
    print("This is a function")

In [2]:
my_func() # 함수 호출

My first fucntion
This is a function

In [3]:
def my_func2():
    print("hello! function!")

In [4]:
my_func2()

hello! function!

### 인자는 있으나 반환 값이 없는 함수

In [5]:
def my_friend(friendName) : #인자값을 반드시 입력해야하는 함수!
    print("{}는 나의 친구입니다.".format(friendName))

In [6]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [16]:
def my_friend(friendName) : #인자값을 반드시 입력해야하는 함수!
    print(f"{friendName}는 나의 친구입니다.")

In [17]:
my_friend("철수") #함수에 넣을 인자값 작성
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [14]:
def they_friends(friendName1, friendName2) :
    print("{0}과 {1}는(은) 친구입니다.".format(friendName1, friendName2))

In [15]:
they_friends("철수","영희")

철수과 영희는(은) 친구입니다.

In [19]:
def my_student_info(name, school_ID, phoneNumber) : # 인자값 3개
    print("------------------------------")
    print("- 학생이름: ",name)
    print("- 학급번호: ",school_ID)
    print("- 전화번호: ",phoneNumber)

In [21]:
def end_line() :
    print("------------------------------")

In [24]:
my_student_info("현아","01","010-1234-1234")
my_student_info("진수","02","010-2345-2345")
my_student_info("토리","03","010-3456-3456")
end_line()

------------------------------
- 학생이름:  현아
- 학급번호:  01
- 전화번호:  010-1234-1234
------------------------------
- 학생이름:  진수
- 학급번호:  02
- 전화번호:  010-2345-2345
------------------------------
- 학생이름:  토리
- 학급번호:  03
- 전화번호:  010-3456-3456
------------------------------

함수를 수정하면 모든 코드에 적용

In [26]:
def my_student_info(name, school_ID, phoneNumber) : # 인자값 3개 # 함수를 갱신한다
    print("******************************")
    print("* 학생이름: ",name)
    print("* 학급번호: ",school_ID)
    print("* 전화번호: ",phoneNumber)

In [27]:
my_student_info("현아","01","010-1234-1234")
my_student_info("진수","02","010-2345-2345")
my_student_info("토리","03","010-3456-3456")

******************************
* 학생이름:  현아
* 학급번호:  01
* 전화번호:  010-1234-1234
******************************
* 학생이름:  진수
* 학급번호:  02
* 전화번호:  010-2345-2345
******************************
* 학생이름:  토리
* 학급번호:  03
* 전화번호:  010-3456-3456

## 인자도 있고 반환 값도 있다

In [30]:
def my_calc(x,y):
    z = x*y
    return z

In [29]:
my_calc(3,4)

7

In [40]:
def my_calc3(x,y):
    z = x*y
    return 12 # 12를 돌려주는 return

In [41]:
my_calc3(3,4)

12

In [38]:
def my_calc2(x,y):
    z = x*y
    t = x+y
    return z,t

In [39]:
my_calc2(3,4)

(12, 7)

리스트를 인자로 갖는 함수

In [42]:
def my_student_info_list(student_info):
    print("*******************************")
    print("* 학생이름: ",student_info[0])
    print("* 학급번호: ",student_info[1])
    print("* 전화번호: ",student_info[2])
    print("*******************************")

인자를 리스트로 입력해서 호출한다

In [44]:
student1_info=['현아','01','010-1234-1234'] # 리스트 선언
my_student_info_list(student1_info) # 변수명과 함수명을 구분하자

*******************************
* 학생이름:  현아
* 학급번호:  01
* 전화번호:  010-1234-1234
*******************************

In [45]:
my_student_info_list(['진수','02','010-3456-3456']) # 직접적으로 값을 넣을 수도 있다! - []로 리스트를 인정해주는 건가?!

*******************************
* 학생이름:  진수
* 학급번호:  02
* 전화번호:  010-3456-3456
*******************************

## 7.2 변수의 유효 범위

전역 변수와 지역 변수의 차이<br>
함수 안에서 정의한 변수는 함수 안에서만 사용할 수 있다

In [53]:
a = 5 # 전역변수

def func1():
    a = 1 # 지역변수, func1()에서만 사용가능
    print("[func1] 지역변수 a = ",a)

def func2():
    a = 2 # 지역변수, func2()에서만 사용가능
    print("[func2] 지역변수 a = ",a)    

def func3():
    print("[func3] 전역변수 a = ",a) 

def func4():
    global a # 함수 내에서 전역 변수 변경을 위해 선언
    a = 4 # 전역변수, func2()에서만 사용가능
    print("[func4] 전역변수 a = ",a)

In [54]:
func1() #함수 func1() 호출
func2() #함수 func2() 호출
print("전역변수 a = ",a) # 전역 변수 호출ㄴ

[func1] 지역변수 a =  1
[func2] 지역변수 a =  2
전역변수 a =  5

전역변수를 변경하고 싶을때는 선언하여 사용한다.

In [55]:
func3()
func4()
func3()

[func3] 전역변수 a =  5
[func4] 전역변수 a =  4
[func3] 전역변수 a =  4

In [144]:
# 이해하기 쉬운 예시 - 지역 화폐와 네이버 페이로 쓰기 
money1 = "A 페이" # 전역변수

def func11():
    money1  = "경기지역 화폐" # 지역변수, func1()에서만 사용가능
    print("[func1] 지역변수 money1 = ",money1)

def func22():
    money1  = "서울지역 화폐" # 지역변수, func2()에서만 사용가능
    print("[func2] 지역변수 money1 = ",money1)   

def func33():
    print("[func3] 전역변수 money1 = ",money1) 

def func44():
    global money1 # 함수 내에서 전역 변수 변경을 위해 선언
    money1 = "B 페이" # 전역변수, func2()에서만 사용가능
    print("[func4] 전역변수 money1 = ",money1)    

func11() #함수 func1() 호출
func22() #함수 func2() 호출
print("전역변수 money1 = ",money1) # 전역 변수 호출ㄴ
func33()
func44()
func33()

[func1] 지역변수 money1 =  경기지역 화폐
[func2] 지역변수 money1 =  서울지역 화폐
전역변수 money1 =  A 페이
[func3] 전역변수 money1 =  A 페이
[func4] 전역변수 money1 =  B 페이
[func3] 전역변수 money1 =  B 페이

# 7.3 람다(lambda) 함수

한줄로 함수를 표현하는 람다함수의 기본 구조 <br>
(lambda<인자>:<인자 활용 수행 코드>)(<인자>)

In [58]:
(lambda x : x**2) (4)

16

In [64]:
(lambda y: y % 10) (100) # 나머지는 없음

0

In [63]:
(lambda x : x + "입니다") (4) # 연산만 가능

TypeError: unsupported operand type(s) for +: 'int' and 'str'

람다 함수를 변수에 할당한 후에 인자를 호출해서 사용

In [61]:
mySquare = lambda x: x ** 2
mySquare(2)

4

In [65]:
mySquare(5)

25

여러개 인자를 받아 사용하는 것도 가능

In [66]:
mySimpleFunc = lambda x,y,z: 2*x +3*y +z
mySimpleFunc(1,2,4)

12

In [67]:
mySimpleFunc = lambda x,y,z: print(x,y,z) # print() 가능하네!!
mySimpleFunc(1,2,4)

1 2 4

## 7.4 유용한 내장 함수

## 형 변환 함수

### 정수형으로 변환

소수점 이하는 버려짐

In [70]:
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

문자열을 정수형으로 변환

In [71]:
[int('1234'),int('5678'),int('-9012')]

[1234, 5678, -9012]

### 실수형으로 변환

In [72]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

문자열을 실수형으로 변환

In [74]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

### 문자형으로 변환

In [75]:
[str(123), str(456789),str(-987)]

['123', '456789', '-987']

In [76]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

### 리스트 튜플 세트형으로 변환

In [81]:
list_data = ['abc',1,2 ,'def']
tuple_data = ('abc',1,2 ,'def')
set_data = {'abc',1,2 ,'def'}

In [82]:
[type(list_data),type(tuple_data),type(set_data)]

[list, tuple, set]

In [92]:
set_data1 = {1,2,3,4,5,6,7,8,9} # set는 중복값을 허용하지 않는다.
set_data2 = {2,3,5,7,1,4,8,9}
set_data3 = {'a','c','b','e','d'}
print(set_data1)
print(set_data2)
print(set_data3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}
{'a', 'e', 'c', 'd', 'b'}

리스트로 변환

In [83]:
print("리스트로 변환: ",list(tuple_data),list(set_data)) # set만 출력시 위치가 변경!!!

리스트로 변환:  ['abc', 1, 2, 'def'] ['def', 1, 2, 'abc']

튜플로 변환

In [84]:
print("튜플로 변환: ",tuple(list_data),tuple(set_data))

튜플로 변환:  ('abc', 1, 2, 'def') ('def', 1, 2, 'abc')

세트로 변환

In [86]:
print("세트로 변환: ",set(tuple_data),set(set_data))

세트로 변환:  {'def', 1, 2, 'abc'} {'def', 1, 2, 'abc'}

### bool 함수

숫자를 인자로 bool 함수 호출 - 0이면 거짓

In [93]:
bool(0) # 인자: 숫자 0  #0만 거짓!

False

In [94]:
bool(1) # 인자: 숫자1

True

In [95]:
bool(-10) # 인자: 음의 정수

True

In [96]:
bool(5.12) # 인자: 양의 실수

True

In [97]:
bool(-3.26) # 인자:음의 실수

True

### 문자열을 인자로 bool 함수 호출 - 공백이면 거짓

In [98]:
bool('a') # 인자: 문자열 'a'

True

In [99]:
bool(' ') # 인자: 빈 문자열(공백)

True

In [100]:
bool('') #인자: 문자열 없음

False

In [101]:
bool(None) # 인자: None

False

### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [102]:
myFriends = [] #인자: 항목이 없는 빈 리스트
bool(myFriends)

False

In [103]:
myFriends = ['James','Robert','Lisa','Mary'] #인자: 항목이 있는 리스트
bool(myFriends)

True

In [104]:
myNum = () #인자: 항목이 없는 빈 튜플
bool(myNum)

False

In [105]:
myNum = (1,2,3) #인자: 항목이 있는 튜플
bool(myNum)

True

In [106]:
mySetA = {} #인자: 항목이 없는 빈 세트
bool(mySetA)

False

In [108]:
mySetA = {10,20,30} #인자: 항목이 있는 세트
bool(mySetA)

True

### bool 함수의 활용

In [109]:
def print_name(name):
    if bool(name):
        print("입력된 이름: ",name)
    else: 
        print("입력된 이름이 없습니다.")

In [110]:
print_name("James")

입력된 이름:  James

In [111]:
print_name("")

입력된 이름이 없습니다.

In [112]:
def print_Number(number):
    if bool(number):
        print("입력된 회원번호: ",number)
    else: 
        print("입력된 회원번호가 없습니다.")

In [114]:
print_Number("0001")

입력된 회원번호:  0001

## 최솟값과 최댓값을 구하는 함수

In [116]:
myNum = [10,5,12,0,3.5,99.5,42] # 숫자의 최솟값과 최댓값
[min(myNum), max(myNum)]

[0, 99.5]

In [117]:
myStr = 'zxyabc'  # 문자의 최솟값과 최댓값 - 순서대로
[min(myStr), max(myStr)]

['a', 'z']

튜플과 세트에서 활용

In [118]:
myNum = (10,5,12,0,3.5,99.5,42)
[min(myNum), max(myNum)]

[0, 99.5]

In [121]:
myNum = {"Abc",'abc','bcd','efg'} # 대문자가 조금 더 작다
[min(myNum), max(myNum)]

['Abc', 'efg']

## 절댓값과 전체 합을 구하는 함수

In [122]:
[abs(10), abs(-10)]

[10, 10]

In [123]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [127]:
sumList = [1,2,3,4,5,6,7,8,9,10] #리스트 안에 값을 모두 합치는 함수
sum(sumList)

55

In [128]:
sumList = [2,4,6,8,10] #리스트 안에 값을 모두 합치는 함수
sum(sumList)

30

In [129]:
sumList = [1,3,5,7,9] #리스트 안에 값을 모두 합치는 함수
sum(sumList)

25

### 항목의 개수를 구하는 함수

In [130]:
len("ab cd") #문자열

5

In [132]:
len([1,2,3,4,5,6,7,8]) # 리스트

8

In [133]:
len((1,2,3,4,5)) #튜플

5

In [134]:
len({'a','b','c','d'}) # 세트

4

In [135]:
len({1:"Tomas",2:"Lisa",3:"Jaji"}) #딕셔너리

3

## 내장함수의 활용

In [140]:
scores = [90,80,95,85] # 과목별 시험 접수

score_sum = 0                            # 총점 계산을 위한 초기값 설정
subject_num = 0                          # 과목수 계산을 위한 초기값 설정
for score in scores:                     
    score_sum = score_sum + score          # 과목별 점수 모두 더하기
    subject_num = subject_num+1            # 과목수 계산
average = score_sum / subject_num           #평균(총점/과목수) 구하기
    
print("총점: {0}, 평균: {1}".format(score_sum, average))

총점: 350, 평균: 87.5

사용했을 경우

In [141]:
scores = [90,80,95,85]
print("총점:{0}, 평균{1}".format(sum(scores),sum(scores)/len(scores)))

총점:350, 평균87.5

In [143]:
print("최하 점수:{0} 최고 점수:{1}".format(min(scores),max(scores)))

최하 점수:80 최고 점수:95

## 7.5 정리